<!--navbar-->
<nav class="navbar navbar-light bg-dark">
    <div class="container-fulid">
        <h2 class="text-light primary">Customers</h2>
    </div>
    <div class="d-flex">
        <button class="btn btn-success" id="customerModal" (click)="openCustomerModal()">Add New</button>
    </div>
</nav>
<!--Data Table Start-->
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Firstname</th>
            <th scope="col">LastName</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers_list">
            <td>{{customer.id}}</td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.phoneNumber}}</td>
            <td>{{customer.email}}</td>
            <td>
                <button class="btn btn-primary" [routerLink]="['/customer', customer.id]" >Edit</button>
                <button class="btn btn-warning">Delete</button>
            </td>
        </tr>
        <tr *ngIf="customers_list.length == 0">
            <td colspan="6" class="text-center">No records found</td>
        </tr>
    </tbody>
</table>
<!--Model popup-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Template Driven form-->
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName"
                            [(ngModel)]="customer.firstName" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName"
                            [(ngModel)]="customer.lastName" required>
                    </div>

                    <div class="form-group">
                        <label for="Phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="customer.phoneNumber"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="customer.email"
                            required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary ">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>